<%- include("header.ejs") %>
<main>

<form action="/" method="POST">

<label>Blog Title</label>
<input type="text" name="blog-title" id="blog-title" placeholder="Insert Title" class="input-box" />
<label>Blog Body</label>
<textarea type="text" name="blog-body" id="blog-body" class="input-box"></textarea>
<input type="submit" class="btn" value="POST">

</form>

</main>