<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles/styles.css">
<title>The Bloggiest Blog</title>

<div class="header">
<h1>The Bloggiest Blog</h1>
<p>
  Blogging has never been so Bloggy!
</p>
</div>